<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>test-img</title>
        <!--@start-->
        <!--@compile: css-->
        <!--@file : /static/css/test-img/test-img.css-->
        <link rel="stylesheet" href="/static/css/test-img/test-img.css" media="screen" title="no title" charset="utf-8">
        <!--@end-->

        <!--@start-->
        <!--@compile: css-->
        <!--@file : //blog.geekie.online/css/test-img/test-img.css-->
        <link rel="stylesheet" href="/static/css/test-img/test-img.css" media="screen" title="no title" charset="utf-8">
        <!--@end-->
    </head>
    <body>
        <div class="test-img-static-1" style="width:400px;height:400px;"></div>
        <div class="test-img-static-2" style="width:400px;height:400px;"></div>
        <div class="test-img-res-1" style="width:400px;height:400px;"></div>
        <div class="test-img-res-2" style="width:400px;height:400px;"></div>
    </body>
</html>
