<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>test index</title>
        <!--@start-->
        <!--@compile: css-->
        <!--@file: /static/css/test-file.css -->
        <link rel="stylesheet" href="/static/css/test-file/test-file-1.css" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="/static/css/test-file/test-file-2.css" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="/static/css/test-file/test-file-3.css" media="screen" title="no title" charset="utf-8">
        <!--@end-->
    </head>
    <body>
        <h1 class="test-file-1">test-file-1</h1>
        <h1 class="test-file-2">test-file-2</h1>
        <h1 class="test-file-3">test-file-3</h1>
    </body>
</html>
